/* universal properties */
* {
    font-family: 'Nanum Gothic Coding', monospace;
}

/* heading properties */
.h1-container {
    background-color: grey;
    background-image: linear-gradient(90deg, rgb(187, 196, 214) 13%, rgb(93, 97, 108) 42%, rgb(40, 40, 43) 80%);
}

/* search for city */
label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* search button */
.btn {
    background-color: grey;
    border: none;
}

/* search button hover */
.btn:hover {
    opacity: 75%;
}


/* today's weather card */
.card {
    margin: 10px;
}

/* search bar area */
.colOne {
    background-color: grey;
    background-image: linear-gradient(90deg, rgb(40, 40, 43) 13%, rgb(93, 97, 108) 42%, rgb(187, 196, 214) 80%);
    margin: 10px 25px;
}

/* .colTwo {
   
} */

.histBtnRow {
    /* background-color: grey;
    background-image: linear-gradient(90deg, rgb(187, 196, 214) 13%, rgb(93, 97, 108) 42%, rgb(40, 40, 43) 80%); */
    margin: 10px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* today's date */
.cardTodayDate {
    font-size: 20px;
}

/* weather icons */
.icons {
    height: 70px;
    width: 70px;
}